body{
    margin: 0;
    padding: 0;
}
.location-place{
    width: 700px;
    height:500px;
    margin: 100px auto;
    background: #dcdcdc;
    position: relative;
}
.location-place i{
    font-size: 24px;
    animation:mymove 1s ease;
    -webkit-animation:mymove 1s ease; /*Safari and Chrome*/
}
@keyframes mymove
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.location-bar-place{
    width: 80px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}
.location-place .follow{
    position: absolute;
    z-index: 10;
}
.follow:after{
    content: '';
    position: absolute;
    z-index: -10;
    /*left: 20px;*/
    width: 70px;
    height: 30px;
    left: -23px;
    top: 9px;
    background: #ffffff;
    opacity: 0.5;
    border-radius: 50%;
    animation:mymovecircle 4s ease infinite;
    -webkit-animation:mymovecircle 4s ease infinite; /*Safari and Chrome*/
}
@keyframes mymovecircle
{
    0% {
        left: -23px;
        top: 9px;
        width: 70px;
        height: 30px;
    }
    50%{
        left: -16px;
        top: 12px;
        width: 56px;
        height: 24px;
    }
    100% {
        left: -23px;
        top: 9px;
        width: 70px;
        height: 30px;
    }
}

@-webkit-keyframes mymovecircle /*Safari and Chrome*/
{
    0% {
        left: -23px;
        top: 9px;
        width: 70px;
        height: 30px;
    }
    50%{
        left: -16px;
        top: 12px;
        width: 56px;
        height: 24px;
    }
    100% {
        left: -23px;
        top: 9px;
        width: 70px;
        height: 30px;
    }
}
.follow-message{
    width: 100px;
    height: 100px;
    display: none;
    clear: both;
    padding: 12px;
    line-height: 16px;
    position: absolute;
    background: #ffffff;
    border-radius: 10px;
    animation:movemessage 1s ease;
    -webkit-animation:movemessage 1s ease; /*Safari and Chrome*/
}
@keyframes movemessage
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes movemessage /*Safari and Chrome*/
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.right-information{
    position: absolute;
    z-index: 1000 !important;
    display: none;
    right: -200px;
    width: 200px;
    height: 100px;
    animation:rightinformation 1s ease;
    -webkit-animation:rightinformation 1s ease; /*Safari and Chrome*/
    top: 0;
}
@keyframes rightinformation
{
    0% {
        opacity: 0;
        right: -210px;
    }
    100% {
        opacity: 1;
        right: -200px;
    }
}

@-webkit-keyframes rightinformation /*Safari and Chrome*/
{
    0% {
        opacity: 0;
        right: -210px;
    }
    100% {
        opacity: 1;
        right: -200px;
    }
}