body{
    margin: 0;
    padding: 0;
}
.location-place{
    width: 700px;
    height:500px;
    margin: 100px auto;
    background: #dcdcdc;
    position: relative;
}
.location-place i{
    font-size: 25px;
    animation:mymove 1s ease;
    -webkit-animation:mymove 1s ease; /*Safari and Chrome*/
}
@keyframes mymove
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.location-bar-place{
    width: 80px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}
.location-place .follow{
    position: absolute;
}